body {
  margin: 0;
  padding: 0;
  font-family:  Arial, monospace;
  background: linear-gradient(89deg, #36d1dc 0%, #5b86e5 100%); /* w3c */
}

.content {
	 background: linear-gradient(89deg, #36d1dc 0%, #5b86e5 100%); 
}

button {
  cursor: pointer;
}
